</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Footer Content</h2>
                I am yet to add some content here
            </div>
            <div class="col-4">
                <h2>Links</h2>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="base-line">
        <div class="container">
            Copyright 2017 Aphrodite. All Rights Reserved
        </div>
    </div>
</footer>    

</body>
</html>