<!DOCTYPE html>
<html>
    <head>
        <title>Some Title</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1>Header</h1>
                <nav>
                    <a href="#">One</a>
                    <a href="#">Two</a>
                    <a href="#">Three</a>
                </nav>
            </div>
        </header>
        <main>