<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h1 class="right">Right Aligned Heading</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 card">
            <h1>Inside a card</h1>
            Some content inside a card
        </div>
    </div>
</div>

<%- include('partials/footer') %>