// Colors
$primary: #FF6138;
$secondary: #0B75CB;
$text-color: #000;
$bg-color: #fff;

$layout-small: 35.5em;
$layout-medium: 48em;
$layout-large: 64em;
$layout-xlarge: 80em;

$grid-columns: 12;
$grid-max-width: $layout-xlarge;