@import "variables";

body {
    background-color: $bg-color;
    color: $text-color;
    margin: 0em;
    border: 0em;
    font-family: "Comic Sans MS", sans-serif;
}

html, body {
    height: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

@import "colors";
@import "grid";
@import "heading";
@import "card";
@import "haf";
@import "nav";