
h1, h2, h3 {
    color: $primary;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h3 {
    color: $text-color;
}

h3::first-letter {
    color: $primary;
}

.align-right {
    text-align: right;
}
