
// Colors
$primary: #49075E;
$secondary: #0B75CB;
$text-color: #000;
$bg-color: #fff;

// Layout Sizes
$layout-small: 35.5em;
$layout-medium: 48em;
$layout-large: 64em;
$layout-xlarge: 80em;

// Grid
$grid-columns: 12;
$grid-max-width: $layout-xlarge;
