
// Colors
$primary: #49075E;
$secondary: #0B75CB;
$text-color: #000;
$bg-color: #fff;

// Layout Sizes
$layout-small: 320px;
$layout-medium: 768px;
$layout-large: 1024px;
$layout-xlarge: 1280px;

// Grid
$grid-columns: 12;
$grid-max-width: $layout-xlarge;
